/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

ion-header {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
}

.back-button {
    --background: transparent; 
    --box-shadow: none; 
}
  
.back-button:hover {
    --background: transparent !important; 
}
  
.back-button:active {
    --background-activated: transparent !important;  
}
  
.back-button:focus {
    --background-activated: transparent !important;  
}
  
.back-button::part(native) {
    background-color: transparent;
}

ion-icon.back-icon {
    font-size: 24px; 
    margin-right: 5px; 
    color: black;
}

/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
    --background: #fff;
    --border-color: #374375;
    --color: #374375;
    --placeholder-color: #374375;
    --icon-color: #374375;
    --clear-button-color: #fff;
  
    border-radius: 20px;
    width: 340px;
    height: 40px;
    border: 1px solid var(--border-color);
}

.buttons-container {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    height: 50px;
}

ion-button {
    height: 5Opx !important;
}

.current-button {
    --background: #374375; 
    --border-color: transparent; 
    --color: #ffffff; 
}
  
.outlined-button {
    --background: #ffffff; 
    --border-color: #374375; 
    --color: #374375; 
}

ion-button ion-icon {
    size: 24px;
}
  
.items-container {
    margin-top: 60px;
    width: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(200px - 20px), 1fr)); 
    gap: 25px; 
    padding: 15px;
    position: relative;
    z-index: 99;
}

.empty-space {
    height: 100px;
}