<ion-header>
  <div class="header-content">
    <p class="title">Checkout Successful</p>
  </div>
</ion-header>


<ion-content>
  <div class="pfp-container">
    <img src="../../../assets/images/payment-success.jpeg" alt="pfp">
  </div>

  <div class="text-container">
    <p class="h1-title">Your order is on the way!</p>
    <p class="text-pg">Your order will be packed by the clock, will arrive at your house in 3 to 4 days!</p>
  </div>

  <div class="button-container">
    <ion-button style="--background:#374375" class="button-navy" href="/all-items">
      <h5 slot="start">Continue Shopping</h5>
    </ion-button>
  </div>
</ion-content>