/*
*  Global Styles
*  This file contains general styling variables and rules 
*  that apply globally across the Ionic mobile application.
*/


/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');


.title {
    font-family: 'Song Myung', sans-serif;
    font-size: 30px;
    letter-spacing: 0%;
    align-self: center top;
}

h1 {
    font-family: 'Sora',  sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -3%;
}

h2 {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -3%;
}

h3 {
    font-family: 'Sora', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -2%;
}

h4 {
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -2%;
}

h5 {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -2%;
}

h6 {
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -2%;
}

/* specific font-sizes */
$semi-bold: 600;
$medium: 500;
$regular: 400;

.xlarge-bold {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.3%;
}

.xlarge-semi-bold {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: $semi-bold;
    line-height: 140%;
    letter-spacing: 0.3%;
}

.xlarge-medium {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: $medium;
    line-height: 140%;
    letter-spacing: 0.3%;
}

.xlarge-regular {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: $regular;
    line-height: 140%;
    letter-spacing: 0.3%;
}

.large-bold {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.large-semi-bold {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: $semi-bold;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.large-medium {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.large-regular {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.medium-bold {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.medium-semi-bold {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: $semi-bold;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.medium-medium {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.medium-regular {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.small-bold {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.small-semi-bold {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: $semi-bold;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.small-medium {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.3%;
}

.small-regular {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.3%;
}

/* Buttons */

.button-navy {
    background-color: $navy;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.button-periwinkle {
    background-color: $periwinkle;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.button-large {
    height: 56px;
    width: 269px;
}

.button-small {
    height: 62px;
    width: 172px;
}