/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items evenly with space between */
    padding: 0 10px; /* Apply padding horizontally */
    height: 60px;
    margin: 0;
    margin-top: 10px;
}

.back-button {
    --background: transparent; 
    --box-shadow: none; 
    border: none !important;
    padding: 0px !important;
}
  
.back-button:hover {
    --background: transparent !important; 
}
  
.back-button:active {
    --background-activated: transparent !important;  
}
  
.back-button:focus {
    --background-activated: transparent !important;  
}
  
.back-button::part(native) {
    background-color: transparent;
}

ion-icon.back-icon {
    font-size: 24px; 
    margin-right: 5px; 
    color: black;
    margin-left: 0;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.3%;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    margin-left: -2rem;
}

ion-icon.header-icon {
    font-size: 26px !important;
    color: black;
}

.upper-content {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white; 
    z-index: 101;
} 

.bezbez-details {
    display: flex;
    justify-content: space-between; 
    padding: 5px 20px 10px 10px;
}

.bezbez-info {
    width: 70%;
    align-items: center;
    padding: 0 1em 0 1em; 
    display: flex;
}

img.bezbez-logo {
    width: 70px;
    height: 70px; 
    margin-right: 10px; 
    border-radius: 50px;
}

.bezbez-name {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: .3%;
    margin: 0;
}

.bezbez-follow {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: -30px;
    padding: 0  !important;
}

ion-button.button-navy {
    display: flex;
    align-items: center; 
    --background-color: $navy;
    --border-radius: 40px;
    // padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 110px;
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

ion-button.button-periwinkle {
    display: flex;
    align-items: center; 
    --background: #9894b4 !important;
    --border-radius: 40px;
    // padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    width: 110px;
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

p.button-text {
    font-family: 'Encore Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0%;
    color: white; 
    margin: 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons-container {
    display: flex;
    justify-content: center; 
    position: fixed; 
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: 10px;
}
  
.button {
    display: flex;
    align-items: center;
    padding: 10px 20px; 
    margin-right: 10px;
    border: .5px solid #c5c2c2;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px; 
    height: 30px; 
}

.button ion-icon {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.button p {
    font-size: 12px;
    margin-left: 2px;
    font-family: "Encode Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  
.current-button {
    background-color: $navy;
    color: white;
}

.star-icon {
    color: #FFD33C !important;
}

.sale-content {
    width: 400px;
    height: 120px;
    border-radius: 25px; 
    position: relative;
    margin: 90px auto 5px;
    z-index: 100; 
}

.sale-content img {
    width: 100%;
    height: 100%;
    border-radius: 25px; 
    object-fit: cover;
}

.sale-text {
    position: absolute;
    top: 20px; 
    right: 20px; 
    color: white;
    z-index: 1;
}

p.percentage {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 110%;
    letter-spacing: -3%;
    margin-bottom: 5px; 
    margin-top: -5px;
}

p.text {
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -2%;
    margin: 0;
    margin-left: 25px; 
}

.sale-content::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 25px; 
}

.items-container {
    width: auto; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(200px - 20px), 1fr)); 
    gap: 25px; 
    padding: 15px;
    position: relative;
    z-index: 99;
}

.empty-space {
    height: 70px;
}