<ion-header [translucent]="true">
  <ion-toolbar>  <br><br>

    
    <ion-buttons slot="start">
      <button onclick="window.location.href='/profile';">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title size="large">Settings</ion-title>
    
  </ion-toolbar>
</ion-header><br><br>



<ion-content padding>

  <p>
    <a  class="no-underline link-black">Terms & conditions</a>
    <ion-icon name="chevron-forward-outline" class="chevron-black"></ion-icon>
  </p>
  <p>
    <a  class="no-underline link-black">Language</a>
    <ion-icon name="chevron-forward-outline" class="chevron-black"></ion-icon>
  </p>
  <p>
    <a class="no-underline link-black">Country</a>
    <ion-icon name="chevron-forward-outline" class="chevron-black"></ion-icon>
  </p>
 
</ion-content>
