$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;


.bottom-navbar {
    width:55%;
    height: 64px;
    background-color: $navy;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px; /* Adjust the value as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 0 45px; /* Adjust horizontal gap between items */
    z-index: 100;
}
  
.navbar-button {
    width: 50px;
    height: 50px;
    background-color: #445078;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative for absolute positioning of indicator */
    transition: background-color 0.3s ease;
}
  
.navbar-button ion-icon {
    font-size: 26px;
    color: white;
}

.navbar-button:hover {
    background-color: #2d3e5f; /* Adjust hover background color */
}

.indicator {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 3px; /* Position the dot below the icon */
    left: 50%;
    transform: translateX(-50%);
}
