
.subtitle {
    margin-top:10px; 
    margin-left:12px; 

  }

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #080000;
    font-weight: bold;
    font-size: 20px;
    margin-left:12px; 

  }
  
  .form-control {
    display: block;
    width: 90%;
    margin-left: 12px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.5px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  
  
  
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }

  
  
  
  .form-control {
    padding-left: 40px; 
  }
  

  
  .form-control {
    background-color: #e1e1e1;
  }

  
  /// style du bouton 
  
  ion-button {
    --background: #374375;
    width: 90%;
    margin-left: 12px;
    padding: 10rem 0.75rem;
    font-size: 1.3rem;
  }
  
   //// style du message d'erreur 
  
   .error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
  
  
  