<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <br>
    
    <ion-title size="large">Set New Password</ion-title>
    <p class="subtitle">Enter your new password below.</p>

  </ion-toolbar>
</ion-header><br><br><br>



<ion-content padding>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">

    <div class="mb-3 input-icon">
      <label for="password" class="form-label">New Password</label><br>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="........................"
        [(ngModel)]="password"
        name="password"
        #passwordControl="ngModel"
        required
        minlength="8"
      >
      <div *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)" class="error-message">
        Password is required (minimum 8 characters).
      </div>
    </div>

    <div class="mb-3 input-icon">
      <label for="password1" class="form-label">Confirm Password</label><br>
      <input
        type="password"
        class="form-control"
        id="password1"
        placeholder="........................"
        [(ngModel)]="password1"
        name="passwordConfirmation"
        #passwordConfirmationControl="ngModel"
        required
        minlength="8"
      >
      <div *ngIf="passwordConfirmationControl.invalid && (passwordConfirmationControl.touched || passwordConfirmationControl.dirty)" class="error-message">
        Password confirmation is required .
      </div>
      <div *ngIf="password !== password1 && registrationForm.submitted" class="error-message">
        Passwords do not match.
      </div>
    </div>

    <ion-button expand="block" type="submit" >Submit password</ion-button>
  </form>
</ion-content>