<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <br>
    <ion-title size="large">Login account</ion-title>
    <p class="subtitle">Please login with registered account</p>
  </ion-toolbar>
</ion-header>

<br><br><br>

<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="mb-3 input-icon">
      <label for="username_or_email" class="form-label">Email or Username</label><br>
      <ion-icon name="person-outline"></ion-icon>
      <input
        type="text"
        class="form-control"
        id="username_or_email"
        placeholder="Enter your email or username"
        [(ngModel)]="usernameOrEmail"
        name="username_or_email"
        #usernameOrEmailControl="ngModel"
        required
        (input)="clearCredentialsError()"
      >
      <div *ngIf="usernameOrEmailControl.invalid && (usernameOrEmailControl.touched || usernameOrEmailControl.dirty)" class="error-message">
        Please enter a valid email or username.
      </div>
    </div>

    <div class="mb-3 input-icon">
      <label for="password" class="form-label">Password</label><br>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        [(ngModel)]="password"
        name="password"
        #passwordControl="ngModel"
        required
        (input)="clearCredentialsError()"
      >
      <div *ngIf="credentialsError" class="error-message">
        {{ credentialsError }}
      </div>
    
      <div *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)" class="error-message">
        Password is required and must be at least 8 characters.
      </div>
    </div>
    <br>
    
    <p>
      <a href="/forgetpassword" class="forget-password-link">Forgot password?</a>
    </p>
    <br>

    <ion-button expand="block" type="submit">Sign In</ion-button>
  </form>
  <br><br><br>
  
  <p>
    Don’t have an account? <a href="/signup">Sign Up</a>
  </p>
</ion-content>
