/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

ion-header {
    margin: 10px;
    display: flex;
    align-items: center;
}

.back-button {
    --background: transparent; 
    --box-shadow: none; 
}
  
.back-button:hover {
    --background: transparent !important; 
}
  
.back-button:active {
    --background-activated: transparent !important;  
}
  
.back-button:focus {
    --background-activated: transparent !important;  
}
  
.back-button::part(native) {
    background-color: transparent;
}

ion-icon.back-icon {
    font-size: 24px; 
    margin-right: 5px; 
    color: black;
    margin-left: 0;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.3%;
    margin: 0 3.5em;
    padding: 0;
}

ion-footer {
    height: 100px; 
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}

.bottom-navbar {
    width: 300px;
    height: 64px;
    background-color: $navy;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 45px; 
    z-index: 101;
}

.button-navy {
    --position: relative;
    --top: 30px;
    --border-radius: 40px;
    --padding: 10px 20px;
    --text-align: center;
    height: 56px;
    width: 269px;
    --border: none;
}

.button-navy h5 {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -2%;
    color: white; 
    padding: 0 10em !important;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.card-img {
    height: 30px;
    width: 45px;
    border-radius: 10px;
    margin-right: 1em;
}

.ion-button {
    width: 370px;
    height: 65px;
    border-radius: 25px;
    border-color: #C2C2C2;
    margin: 0 1em;
    color: black;
}

.add-btn-icon {
    color: #374375;
    size: 24px;
    border-radius: 10px;
    margin-right: 1em;
    margin-left: -3em;
}

.payment-button-icon {
    color: #374375;
}

.card-number {
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: auto;
    letter-spacing: 140%;
    margin-right: 9em;
}

ion-button.btn-content {
    width: 370px;
    height: 65px;
    border-radius: 25px;
    --border-color: #C2C2C2;
    margin: .5em 2em;
    --color: black;
}

.new-card-txt {
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 140%;
    margin-right: 5em;
}