<ion-content>
  <div class="image-container">
    <img src="../../../assets/images/p3-illustration.jpeg" alt="illustration">
  </div>

  <div class="indicator-container">
    <img src="../../../assets/images//p3-indicator.png" alt="indicator">
  </div>

  <p class="title">Hassle-Free Checkout</p>

  <p class="small-regular">Seemless payment and speedy delivery. Start shopping smarter today.</p>

  <div class="button-container">
    <button class="button-navy"><h5>Start your bezbez</h5></button>
  </div>

  <div class="button-container">
    <button class="button-periwinkle"><h5>Sign up</h5></button>
  </div>

  <div class="skip-text">
    <p class="large-semi-bold">Already have an account?</p>
  </div>

</ion-content>