<ion-content>
  <div class="image-container">
    <img src="../../../assets/images/p3-illustration.jpeg" alt="illustration">
  </div>

  <div class="indicator-container">
    <img src="../../../assets/images//p3-indicator.png" alt="indicator">
  </div>

  <p class="title">Hassle-Free Checkout</p>

  <p class="small-regular">Seemless payment and speedy delivery. Start shopping smarter today.</p>

  <div class="button-container">
    <ion-button style="--background:#374375" class="button-navy">
      <h5 slot="start">Start your bezbez</h5>
    </ion-button>
  </div>

  <div class="button-container">
    <ion-button style="--background:#9894b4" class="button-periwinkle">
      <h5 slot="start">Sign up</h5>
    </ion-button>
  </div>

  <ion-button class="skip-btn" fill="clear">
    <p slot="start" class="large-semi-bold">Already have an account?</p>
  </ion-button>

</ion-content>