<ion-header [translucent]="true">
  <ion-toolbar>  <br><br>
  <ion-buttons slot="start">
      <button onclick="window.location.href='/login';">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title size="large">Forgot password</ion-title>
    <p class="subtitle">Oops. It happens to the best of us.</p>
    <p class="subtitle">Input your email to fix the issue.</p>
  </ion-toolbar>
</ion-header><br><br>

<ion-content padding>
  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">

    
    <div class="mb-3 input-icon">
      <label for="Email" class="form-label">Email </label><br>
      <ion-icon name="mail-outline"></ion-icon>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter your e-mail"
        [(ngModel)]="email"
        name="email"
        #emailControl="ngModel"
        required
        email
      >
      <div *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)" class="error-message">
        Please enter a valid email address.
      </div>
    </div>

    
    <ion-button expand="block" type="submit"  >Submit</ion-button>
  </form>
 
</ion-content>
