
.subtitle {
    margin-top:10px; 
    margin-left:12px; 

  }

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #080000;
    font-weight: bold;
    font-size: 20px;
    margin-left:12px; 

  }
  
  .form-control {
    display: block;
    width: 90%;
    margin-left: 12px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.5px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-text {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .input-icon {
    position: relative;
  }
  
  .input-icon ion-icon {
    position: absolute;
    margin: 10px;
    font-size: 17px;
    padding-left: 20px;
  }
  
  .form-control {
    padding-left: 40px; 
  }
  
::placeholder {
    color: black;
    opacity: 1; 
  }
  
  .form-control {
    background-color: #e1e1e1;
  }

  
  /// style du bouton 
  
  ion-button {
    --background: #374375;
    width: 90%;
    margin-left: 12px;
    padding: 0.5rem 0.75rem;
    font-size: 1.3rem;
  }
  
  


  // style de derniere phrase de login
  a {
    color: #891159; 
    
  }
  p{

    margin-left: 50px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  
  
  
  
  