/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');

/* specific font-sizes */
$semi-bold: 600;
$medium: 500;
$regular: 400;


.bezbez-container {
    width: 350px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.bezbez-image img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}
  
.bezbez-description {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.bezbez-details {
    display: flex;
    flex-direction: column;
}
  
.bezbez-name {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: $medium;
}
  
.bezbez-speciality {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: $grey;
}
  
.bezbez-actions ion-icon {
    font-size: 30px;
    color: $navy;
    margin-right: 10px;
}
  