/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');

/* specific font-sizes */
$semi-bold: 600;
$medium: 500;
$regular: 400;

.item-container {
    width: 168px; 
    height: 257px; 
    display: flex;
    flex-direction: column;
    border-radius: 20px; 
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-image {
    align-items: center;
    border-radius: 25px; 
    padding: 10px 10px;
}

.item-image img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 25px; 
}

.item-description {
    width: 148px;
    height: 47px;
    display: flex;
    justify-content: space-between; /* Distribute space between item-details and item-actions */
}
  
.item-details {
    width: calc(60% - 7.5px); 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
  
.item-name {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: $medium;
    line-height: 150%;
    letter-spacing: 0.3%;
}
  
.item-price {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: $regular;
    line-height: 150%;
    letter-spacing: 0.3%;
    color: $grey;
}

.item-actions {
    width: calc(40% - 7.5px); 
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-actions ion-icon {
    font-size: 24px; 
    color: $navy;
}

