/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px 0 10px;
    height: 60px;
    margin: 0;
    margin-top: 10px;
    background-color: white;
}

.back-button {
    --background: transparent; 
    --box-shadow: none; 
}
  
.back-button:hover {
    --background: transparent !important; 
}
  
.back-button:active {
    --background-activated: transparent !important;  
}
  
.back-button:focus {
    --background-activated: transparent !important;  
}
  
.back-button::part(native) {
    background-color: transparent;
}

ion-icon.back-icon {
    font-size: 24px; 
    margin-right: 5px; 
    color: black;
    margin-left: 0;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.3%;
    margin: 0; 
    padding: 0; 
    margin-left: -2rem;
}

ion-icon.header-icon {
    font-size: 26px !important;
    color: black;
}

.item-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    position: relative;
    z-index: 99;
}

.empty-space {
    height: 180px;
}

ion-footer {
    height: 100px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}
  
.bottom-navbar {
    width: 300px;
    height: 64px;
    background-color: $navy;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 0 45px; 
    z-index: 100;
}
  
.navbar-button {
    background-color: #445078;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    transition: background-color 0.3s ease;
}
  
ion-icon.navbar-icon {
    font-size: 26px !important;
    color: white;
}
  
.navbar-button:hover {
    background-color: #2d3e5f; 
}
  
.indicator {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -8px; 
    left: 50%;
    transform: translateX(-50%);
}
  