<ion-header>
  <div class="header-content">
    <ion-button href="/all-items" class="back-button">
      <ion-icon slot="icon-only" name="chevron-back-outline" class="back-icon"></ion-icon>
    </ion-button>
    <p class="title">Likes</p>
    <ion-icon name="heart-outline" class="header-icon"></ion-icon>
  </div>
</ion-header>


<ion-content>

  <div class="items-container">
    <app-liked-items *ngFor="let item of items" [item]="item"></app-liked-items>
  </div>

  <div class="empty-space"></div>

</ion-content>

<ion-footer>
  <div class="bottom-navbar">
    <ion-button class="navbar-button" fill="clear" href="/all-items">
      <ion-icon name="home-outline" class="navbar-icon"></ion-icon>
    </ion-button>
    <ion-button class="navbar-button" fill="clear" href="/cart">
      <ion-icon name="bag-handle-outline" class="navbar-icon"></ion-icon>
    </ion-button>
    <ion-button class="navbar-button" fill="clear" href="/likes">
      <ion-icon name="heart" class="navbar-icon"></ion-icon>
      <div class="indicator"></div>
    </ion-button>
    <ion-button class="navbar-button" fill="clear" href="/profile">
      <ion-icon name="person-outline" class="navbar-icon"></ion-icon>
    </ion-button>
  </div>
</ion-footer>