<ion-header>
  <div class="header-content">
    <p class="title">Profile</p>
  </div>
</ion-header>

<ion-content>

  <div class="pfp-container">
    <img src="../../../assets/images/profile.jpeg" alt="pfp">
    <p class="user-name">your name</p>
  </div>

  <div class="buttons-container">
    <button (click)="navigateToSettings()">
      <div class="details">
        <ion-icon name="settings-outline"></ion-icon>
        <p>Settings</p>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>


   <button class="purchases" (click)="navigateToPurchases()">
    <div class="details">
      <ion-icon name="bag-check-outline"></ion-icon>
      <p>Purchases</p>
    </div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </button>

    <button class="logout">
      <div class="details">
        <ion-icon name="log-out-outline"></ion-icon>
        <p class="logout-text">Log Out</p>
      </div>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>
  </div>

</ion-content>


<ion-footer>
  <div class="bottom-navbar">
    <button class="navbar-button">
      <ion-icon name="home-outline" (click)="navigateTo('/all-items')"></ion-icon>
    </button>
    <button class="navbar-button">
      <ion-icon name="bag-handle-outline" (click)="navigateTo('/cart')"></ion-icon>
    </button>
    <button class="navbar-button">
      <ion-icon name="heart-outline" (click)="navigateTo('/likes')"></ion-icon>
    </button>
    <button class="navbar-button">
      <ion-icon name="person" (click)="navigateTo('/profile')"></ion-icon>
      <div class="indicator"></div>
    </button>
  </div>
</ion-footer>