/* Colors */
$navy: #374375;
$periwinkle: #BABDE2;
$cloud: #FFFCF5;
$maroon: #895159;
$peach: #DFAEA2;
$grey: #918f8f;
$red: #FB0303;

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

.header-content {
    display: flex;
    align-items: center;
    padding: 0 15px 0 10px;
    height: 60px;
    margin: 0;
    margin-top: 10px;
    background-color: white;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.3%;
    margin: 0; 
    padding: 0 9em; 
}

.pfp-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 80%;
    height: 25%;
    margin: 3em;
    border: none;
}

.pfp-container img {
    height: 190px;
    width: 190px;
    border-radius: 90px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-name {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: .3%;
    margin: 0;
}

.buttons-container {
    width: 90%;
    height: 30%;
    flex-direction: column;
    margin: 0.5em;
    gap: 10px;
} 

.details {
    display: flex;
}

.details ion-icon {
    margin-left: 10px;
    margin-right: 5px;
}

.buttons-container button {
    width: 380px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 1.3em;
    color: $navy;
}

.logout {
  background-color: $red;
}

.buttons-container p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 0.3%;
    margin: 0;
}

ion-icon {
  font-size: 24px;
}

.logout {
    color: $red !important;
}

ion-footer {
    height: 100px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 101;
}
  
.bottom-navbar {
    width: 300px;
    height: 64px;
    background-color: $navy;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 0 45px; 
    z-index: 100;
}
  
.navbar-button {
    background-color: #445078;
    border-radius: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    transition: background-color 0.3s ease;
}
  
ion-icon.navbar-icon {
    font-size: 26px !important;
    color: white;
}
  
.navbar-button:hover {
    background-color: #2d3e5f; 
}
  
.indicator {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -8px; 
    left: 50%;
    transform: translateX(-50%);
}
