<ion-content>
  <div class="image-container">
    <img src="../../../assets/images/p2-illustration.jpeg" alt="illustration">
  </div>

  <div class="indicator-container">
    <img src="../../../assets/images/p2-indicator.png" alt="indicator">
  </div>

  <p class="title">Discover Our Products</p>

  <p class="small-regular">Browse thousands of products from small businesses all over the country</p>

  <div class="button-container">
    <ion-button style="--background:#374375" class="button-navy" href="/home/p3">
      <h5 slot="start">Continue</h5>
    </ion-button>
  </div>

  <ion-button class="skip-btn" fill="clear" href="/home/p3">
    <p slot="start" class="large-semi-bold">Skip</p>
  </ion-button>

</ion-content>