<ion-content>
  <div class="image-container">
    <img src="../../../assets/images/p2-illustration.jpeg" alt="illustration">
  </div>

  <div class="indicator-container">
    <img src="../../../assets/images/p2-indicator.png" alt="indicator">
  </div>

  <p class="title">Discover Our Products</p>

  <p class="small-regular">Browse thousands of products from small businesses all over the country</p>

  <div class="button-container">
    <button class="button-navy" (click)="navigateToP3()"><h5>Continue</h5></button>
  </div>

  <div class="skip-text" (click)="navigateToP3()">
    <p class="large-semi-bold">Skip</p>
  </div>

</ion-content>